/*This will allow us to take up the whole page */
html,
body,
#root {
  height: 100%;
  margin: 0;
}
.App {
  height: 100%; /*don't forget that height is not inherited so we had to redefine it here*/
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center; /* horizontal centering */
}

#quoteBox {
  text-align: center;
  background-color: black;
  margin-left: 20em;
  margin-right: 20em;
  justify-content: center;
}

#quote {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  margin: 2em;
}
